.chooseSongsList{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media screen and (max-width: 1024px){
    .chooseSongsList{
        justify-content: right;
    }
}
