.topNavigationBlock{
    width: 100%;
    height: 50px;
    background-color: #e1e1e1;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.navigationLine{
    display: flex;
    gap: 15px;
}
.searchSongControllerBlock{
    border-radius: 18px;
    border: 1px solid #ccc;
    padding: 0 10px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    background-color: white;
}
.searchSongController{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background: none;
    letter-spacing: 1px;
}
.searchSongControllerBlock:focus-within{
    border:1px solid #515151 !important;
}

@media screen and (max-width: 1024px){
    .searchSongControllerBlock{
        width: 125px;
    }
}
