.player{
    width: 80%;
}
.currentSong{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.secondNavigationBlock{
    position: relative;
}

@media screen and (max-width: 1024px){
    .player{
        width: 95%;
    }
}
